.resetimgtick{
    padding: 25px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #f1f1f1;
}
.resetpassthree{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}
